@import url('https://fonts.googleapis.com/css2?family=BhuTuka+Expanded+One&family=Raleway:wght@100;500;600;900&display=swap');

* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --verde-claro: #6ECCAF;
    --azul-oscuro: #344D67;
    --blanco: #f5f5f5;
    --blanco-transparente: #ffffffe6;
}

body {
  background-image: url("./material/rickymorty.jpg");
  background-size: auto;
  background-attachment: fixed;
}